<div id="reviewing-card" class="col-lg-4 col-lg-offset-4 text-center">
  <div class="thumbnail">
    <div class="caption">
      <h1><%= link_to card.translated_text, card %></h1>
      <% if card.cardimg.exists? %>
        <%= image_tag card.cardimg.url(:medium), class: "img-responsive" %>
      <% end %>
      <%= simple_form_for(card, :url => home_check_path, :method => :post, :remote => :true, html: { class: 'form' }) do |f| %>
        <%= f.input :user_variant, label: t(".translation"), as: :fake, autofocus: true, html5: true %>
        <%= f.input :id, as: :hidden %>
        <%= f.input :time, as: :fake, label: false, input_html: {class: "hidden time"} %>
        <%= f.button :submit, t(".check") %>
      <% end %>
    </div>
  </div>
</div>
