<h1>Мои колоды</h1>
<div class="row">
  <% @decks.each do |deck| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3><%= link_to deck.title, deck %></h3>
          <p>Карточек в колоде: <%= deck.cards.count %></p>
          <% unless current_user.current_deck_id == deck.id %>
            <%= simple_form_for(deck, :url => decks_set_current_path, :method => :post, html: { class: 'form' }) do |f| %>
              <%= f.input :id, :as => :hidden %>
              <%= f.button :submit, "Сделать текущей" %>
            <% end %>
          <% else %>
            <p class="bg-success">Текущая колода</p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "+ Добавить колоду",  new_deck_path, class: "btn btn-success navbar-btn" %>