<!DOCTYPE html>
<html>
  <head>
    <title><%= t("title") %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section id="container-fluid">
      <header class="row">

        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/"><%= t("brandname") %></a>
            </div>

            <ul class="nav navbar-nav">
              <% if current_user %>
                <li><%= link_to t("my_cards"), cards_path %></li>
                <li><%= link_to t("my_decks"), decks_path %></li>
                <li><%= link_to t("edit_profile"), edit_user_path(current_user.id) %></li>
                <li><%= link_to t("logout"), :logout, method: :post %></li>
              <% else %>
                <li><%= link_to t("registration"), new_user_path %></li>
                <li><%= link_to t("log_in"), :login %></li>
                <li><%= link_to "EN", locale: :en %></li> /
                <li><%= link_to "RU", locale: :ru %></li>
              <% end %>
            </ul>
            <% if current_user %>
              <%= link_to t("add_card"),  new_card_path, class: "btn btn-success navbar-btn pull-right" %>
            <% end %>
          </div>
        </nav>
      </header>

      <section class="container">
        <div class="row">
          <div class="col-lg-12">
            <% unless notice.nil? %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% unless alert.nil? %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </section>
    </section>
  </body>
</html>
