<!DOCTYPE html>
<html>
  <head>
    <title>Флэшкарточкер</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section id="container-fluid">
      <header class="row">

        <nav class="navbar navbar-inverse">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Флэшкарточкер</a>
            </div>

            <ul class="nav navbar-nav">
              <li><%= link_to "Все карточки", cards_path %></li>
              <!-- <li><a href="#">Добавить карточку</a></li> -->
            </ul>
            <%= link_to "+ Добавить карточку",  new_card_path, class: "btn btn-success navbar-btn pull-right" %>
          </div><!-- /.container-fluid -->
        </nav>
      </header>

      <section class="container">
        <div class="row">
          <div class="col-lg-12">
            <% unless notice.nil? %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% unless alert.nil? %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </section>
    </section>
  </body>
</html>
